@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    background-color: #000000;
    height: 100%;
    font-family: 'Orbitron', cursive;
    color: #ffffff;

}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head{
    width: 100%;
    align-items: center;
    justify-content: center;
   /* text-transform: uppercase;*/
    font-size: 25px;
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    position:fixed;
    top:0px;   
}
#counter{
    font-size: 20px;
    width: 260px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    position:fixed;
    top:55px;
    color: #ffffff;
}

#end{
    color:#ff0000; 
    font-family: 'Orbitron', cursive;   
    font-size: 50px;
    position: absolute;
    z-index: 100;
    top:350px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#memoryGame{
    position:fixed;
    top:130px;
    width: 769px;
    display: grid;
    display: grid;
    grid-template-columns: 184px 184px 184px 184px ;
    grid-gap: 10px;

}    

.card{
    height: 184px;
    width: 184px;
    display: flex;
    background-color: #441144;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #000000;
    /*box-shadow:  3px 3px 3px 3px #ffffff;*/
}